<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuite>
        <directory>tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">libs</directory>
        </whitelist>
    </filter>
    <php>
        <var name="DB_DSN" value="mysql:dbname=user11;host=localhost" />
        <var name="DB_USER" value="user11" />
        <var name="DB_PASSWD" value="tuser11" />
        <var name="DB_DBNAME" value="user11" />
    </php>
</phpunit>
